@import '../../scss/variables';

header {
  position: relative;
  width: 75%;
  height: 14vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  color: var(--header-color-default);
}

h3 {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 400;
  color: var(--card-subtitle-color-default);
}

.icon {
  position: absolute;
  right: 50px;
  cursor: pointer;
  svg {
    color: var(--card-title-color-default);
  }
}

@media (max-width: 660px) {
  header {
    position: static;
    width: 100%;
  }

  .icon {
    position: fixed;
    right: 6vw;
    bottom: 5vh;
    background-color: var(--body-bg-default);
    padding: 5px;
    border-radius: $border-radius;
    box-shadow: 2px 2px 15px #00000070;
    z-index: 10;
  }
}
