@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

$bgcolor: #cccccc;
$font: 'Ubuntu', sans-serif;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font;
}

body {
  background-color: $bgcolor;
}

.container {
  // background-color: gray;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
